.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background: linear-gradient(to right bottom,#b5e182,#ba25ba);


}
.container{
  display: flex;
  height: 80vh;
  border: 1px solid grey;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
  background: linear-gradient(to right bottom, #ba25ba,#b5e182);

  

}
.todoform{
  display: flex;
  /* justify-content: space-around; */
  width: 450px;

}
input {
  width: 80%;
  padding:10px ;
  border-radius:20px;
  border: none;

}
button{
  border: none;
  padding: 10px;
  border-radius:20px;
  margin: 0 5px;
  background-color: #5f5b5b;
  color: white;
}
.alltodos{
  list-style: none;
  margin: 0;
  padding: 0;

}
.singletodo{
  border-radius: 50px;
  margin: 10px 0 ;
  background-color: #e6e8a1;
  color: black;
  font-weight: bold;
  padding: 10px 20px; 
  display: flex;
  width: 450px;
  align-items: center;
}
.todotext{
  flex: 1; 
}